.gitignore
uploads/
audit_report.aux
audit_report.fdb_latexmk
audit_report.fls
audit_report.log
audit_report.out
audit_report.pdf
audit_report.tex
audit_report.tex.tex
audit_report.toc
auditoria_aula.py~
backup_2.py
backup.py
README.md
teste_gemini.py
teste_pylatex.py
txx.txt